* {
  direction: rtl;
  text-align: right;
}

html, body {
  height: 100vh;
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  // background: url('../assets/images/base_background.png') repeat;
}

.content__wrapper {
  flex: 1 1 auto;
}

// video player styles
.vjs-default-skin {
  color: #ffffff;
}

.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
  background-color: #ff3535
}

.vjs-default-skin .vjs-control-bar,
.vjs-default-skin .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.7)
}

.vjs-default-skin .vjs-slider {
  background: rgba(0, 0, 0, 0.2333333333333333)
}

