$c1           : #c1c1c1;
$red			    : red;
$blue         : #0f204b;
$dark         : #8b8b8b;
$gray         : #e7e8ed;
$white        : #FFF;
$orange       : #fcaf17;
$green        : #499C6E;
$primary      : #fcaf17;
$secondary    : #0f204b;
$textdark     : #838383;
$light-blue   : #E1F7EA;
$light-red    : #ff7676;
$primary-green: #2DCC70;