.results__wrapper{
  margin-bottom: 20px;
  font-size: $medium;
}
.rules-modal {
  direction: ltr;
  font-size: 14px;
}
.rules-modal .tableHeader {
  color: $secondary;

  padding-bottom: 10px;
  border-bottom: 1px dashed $gray;
}
.narcissus_17w311v {
  cursor: default;
}
.narcissus_86uon7 {
  cursor: pointer;
}
