html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Documenasssss
    body
        .container
            img(src=`${require('../assets/images/1.png')}`)