$flightLoaderProgressBarSpeed: 20s;

$moveUpDelay: 700;
$moveUpSpeed: 600ms;

.flights-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;

  background: url('../img/Back.jpg') no-repeat;
  background-size: cover;
}

.flights-loader__head {
  color: white;
  text-align: center;
}

.flights-loader__message {
  padding: 20px 0;
}

.flights-loader__airport {
  font-size: 18px;
}

.flights-loader__airports {
  min-width: 180px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flights-loader__world {
  width: 80%;
  img {
    max-width: 100%;
  }
}

.mtb-30 {
  margin: 40px 0;
}

.flights-loader__progress {
  width: 50%;
  height: 30px;
}

.flights-loader__bar {
  @extend .mdi;
  @extend .mdi-airplane;

  height: 1px;
  position: relative;
  animation: flightLoaderProgress #{$flightLoaderProgressBarSpeed} ease-out infinite;

  background: linear-gradient(to left, transparent, white);

  &::before {
    color: $orange;
    font-size: 26px;

    left: -10px;
    position: absolute;
    animation: flightLoaderAirplane 500ms #{$flightLoaderProgressBarSpeed/2};

    transform: rotate(-90deg) translateX(52%);
  }
}

.flights-loader__cols {
  color: white;
  line-height: 2.2em;

  width: 80%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flights-loader__col-item {
  display: flex;
  align-items: center;

  opacity: 0;

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    margin-left: 12px;
    border-radius: 100%;
    border: 2px solid $orange;
  }
}

.flights-loader__airplane {
  font-size: 28px;
  transform: rotate(-90deg);
}

@for $i from 1 through 3 {
  .flights-loader__col:nth-child(#{$i}) {
    @for $k from 1 through 3 {
      .flights-loader__col-item:nth-child(#{$k}) {
        $delay: ((($i - 1) * 3) + $k) * $moveUpDelay;
        animation: moveUp #{$moveUpSpeed} ease #{$delay}ms forwards;
      }
    }
  }
}

@keyframes flightLoaderProgress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}