.result__flight{
  padding: 0 10px;
}

.result__field{
  width: 100%;
  border: 1px solid $gray;
  border-radius: 10px;
  transition: all linear .1s;

  &.reserve .airline__row {
    border-bottom: none;
  }
  &.reserve .airline {
    border-left: none;
  }
  &.reserve {
    border-bottom: none;
  }
  &.reserve {
    border-radius: 0;
  }
  &.reserve:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.results-detail__wrap.reserve {
  .results-detail {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.result__field:not(.reserve):hover{
  box-shadow: 0 -3px 10px $dark;
}

.result__field:not(.reserve):hover+.results-detail__wrap .results-detail{
  box-shadow: 0 2px 7px $dark;
}

.result__bye{
  position: relative;
}

.result__btn--detail{
  left: 0;
  right: 0;
  bottom: 0 ;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  color: $orange;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/DetaileButton.svg");
}

.result__bye{
  border-right: 1px dashed $gray;
}

.result__reserv{
  width: 100%;
  padding-bottom: 40px;
}

.reserv__btn{
  width: 85% !important;
}

.reserv__price{
  color: $blue;
  font-weight: bold;
  margin-bottom: 5px;
}

.airline__row{
  height: 140px;
  border-bottom: 1px dashed $gray;
}

.details__separator{
  padding-left: 15px;
  color: $dark;
  font-size: 14px;
  text-align: right;
  margin-top: -12px;
  background-color: $gray;
}

.airline__row:last-child{
  border-bottom: none;
}

.airline__row:last-child .details__separator{
  display: none;
}

.airline{
  border-left: 1px dashed $gray;
  height: 100%;
  padding: 0 10px;
}

.airline:last-child{
  border-left: none;
}

.flight-col:last-child{
  border: none;
}

.airline--detail{
  padding-right: 20px;
}

.airline__image{
  width: 60px;
}

.airline__image__brand{
  width: 45px;
}

.airline--name{
  color: $dark;
}

.airline--date{
  color: darken($dark, 20%);
}

.airline--aconomy{
  color: darken($dark, 20%);
}

.airport__item{
  padding: 5px;
}

.airport--city{
  color: $blue;
  font-weight: bold;
}

.airport--code{
  color: $dark;
  font-size: 12px;
}

.mdi-clock-out,.mdi-clock-in{
  color: $orange;
}

.airport--time{
  color: $dark;
  font-size: 12px;
}

.airline__direction{
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.airline__direction__detail{
  position: absolute;
  font-size: 11px;
  color: $dark;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-120%);
}

.airline__direction__rules{
    position: absolute;
  font-size: 11px;
  color: $dark;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(40%);
}

.ticket--rules{
  color: $orange;
  border-bottom: 1px dashed $orange;
  padding-left: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.ticket--weight-rules{
  color: #000;
}

.ticket--weight__icon{
  padding-right: 5px;
  border-right: 1px solid $dark;
}

.airline__line{
  top: 50%;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  border-bottom: 1px solid $blue;
}

.airline__line__icon{
  position: absolute;
  top: 50%;
  right: -13px;
  font-size: 32px;
  transform: rotate(-90deg) translateX(29px);
}

.airline__circle{
  width: 10px;
  height: 10px;
  border: 1px solid $blue;
  border-radius: 50%;
  background-color: #FFF;
  z-index: 1;
}

.results-detail__wrap{
  width: 100%;
}

.results-detail{
  width: 90%;
  padding: 5px;
  background-color: $gray;
  transition: all linear .1s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.results-detail .airline__row {
  border-bottom: 1px solid #dbe0e1;
}

.results-detail .airline__row:last-child {
  border-bottom: none;
}

.results-detail__header{
  width: 100%;
  border-bottom: 1px solid #dbe0e1;;
}

.mdi-clock-out,.mdi-clock-in{
  font-size: 18px;
}

.results__tab__btn{
  padding: 5px 15px 10px;
  color: $dark;
  cursor: default;
  border-bottom: 1px solid transparent;
  transition: all linear .1s;
}

.results__tab__btn:hover{
  color: $blue;
  border-bottom: 1px solid $blue;
}

.airline__date__item{
  color: $dark;
}

