.remaining__reserve__time{
  border-left: none;
  color: $blue;
}

.reserve__time__box{
  background: $blue;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  color: $white;
}

.time-colon {
  height:39px;
}



