.blog{
  background-image: url("../img/Pattern.jpg");
  background-repeat: repeat-x;
  background-size: fit;
}

.blog--panel{
  padding: 20px 0;
}

.panel--blog--container{
  padding: 40px 0 0;
  margin-left: -10px;
  margin-right: -10px;
}

.blog--post__main{
  position: relative;
}
.blog--post-link{
  background: #FFF;
}

.master__post{
  height: 100%;
}
//**********************************************************************
.side__post{
  padding: 0;
  margin-bottom: 20px;
}

.side__post:last-child{
  margin-bottom: 0;
}

.side__post .post--img{
  padding: 0;
  width: 250px;
}

.side__post .post--description{
  padding-top: 20px;
}

.side__post .post--description--title{
  padding: 0 0 10px 0;
}

.side__post .post--description--detail{
  padding: 0 0 10px 0;
}

.side__post .post--description--text{
  padding: 0 0 10px 0;
}

.side__post .post--date{
  width: 35%;
  height: 60%;
}

//*********************************************************

.post--date{
  top: 0;
  left: 8%;
  width: 18%;
  height: 38%;
  position: absolute;
  background-color: rgba(0, 42, 90, .6);
}

.post--date__number{
  padding: 10px 0;
  color: #EEE;
}

.post--date__separator{
  width: 65%;
  border: 1px solid rgba(252, 175, 23, .7);
}

.post--date__string{
  color: #EEE;
  padding: 10px 0;
}

.post--img{
  width: 100%;
  position: relative;
}

.post--img img{
  width: 100%;
}

.post--description--title{
  color: $blue;
  text-align: right;
  padding: 10px 10px 10px;
}

.post--description--detail{
  padding: 10px;
  color: $orange;
  text-align: right;

}

.post--description--detail span span{
  padding: 0px 2px;
  font-size: 14px;
}

.post--view-count{
  padding-right: 20px;
}

.post--description--text{
  text-align: right;
  color: $dark;
  padding: 10px;
  font-size:14px;
}