.offer--panel{
  padding: 20px 0;
}

.panel--title{
  width: 180px;
  height: 50px;
  position: relative;
  border-bottom: 2px solid $orange;
}

.panel--title__value{
  color:$blue;
}

.arrow-down{
    width: 0;
    height: 0;
    bottom: -12px;
    position: absolute;
    border-top: 5px solid $orange;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid transparent;
}

.panel--ticket--container{
    width: 100%;
    padding: 40px 0 0;
    margin-left: -10px;
    margin-right: -10px;
}

.panel--ticket-box{
    padding: 0px 10px;
}

.panel--ticket{
    position: relative;
    border-radius: 20px;
    border: 1px solid $gray;
    margin-bottom: 20px;
    // box-shadow: 0px 0px 5px $gray;
    transition: all linear .2s;
}

.panel--ticket *{
    transition: all linear .1s;
    cursor: pointer;
}

.panel--ticket:hover span{
    color: $blue;
}

.panel--ticket:hover .ticket--plane__left{
    color: $orange;
}

.panel--ticket:hover .ticket--plane__right{
    color: $orange;
}

.panel--ticket:hover .ticket--price__value span{
    color: $orange;
}

.ticket--separator{
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px dashed $gray;
    z-index: -1;
}

.punch__left{
    top: 50%;
    width: 25px;
    left: -1px;
    height: 50px;
    display: block;
    background: #FFF;
    position: absolute;
    border: 1px solid $gray;
    border-left: none;
    transform: translateY(-50%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.punch__right{
    top: 50%;
    width: 25px;
    right: -1px;
    height: 50px;
    display: block;
    background: #FFF;
    position: absolute;
    border: 1px solid $gray;
    border-right: none;
    transform: translateY(-50%);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.ticket--destination{
    height: 67px;
    width: 100%;
}

.ticket--destination span{
    padding: 0px 10px;
    color: $dark;
}

.ticket--plane__left{
    transform: rotate(-90deg);
}

.ticket--plane__right{
    transform: rotate(-90deg);
}

.ticket--price{
    width: 100%;
    height: 67px;

}

.ticket--price__value span{
    padding: 0 5px;
    color: $dark;
}


