.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn.btn-basic{
    background: $gray;
    color:$blue;
    border-radius: 10px;
    margin: 5px;
}

.btn.btn--secondary{
   width: 100%;
   border-radius: 10px;
   background-color: $blue;
   color:#FFF;
   font-size: 16px;
   height: 40px;
}

.btn.btn--primary{
  width: 100%;
   border-radius: 10px;
   background-color: $orange;
   color:#FFF;
   font-size: 16px;
   height: 40px;
}

