.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__brand,
.header__brand img {
  cursor: pointer;
}

.header__menu {
  padding: 0 50px;
}

.header__menu a {
  color: $secondary;
  text-decoration: none;
  cursor: pointer;
  transition: all linear .2s;
}

.header__menu li:hover a {
  color: $primary !important;
}

.header__login {
  position: relative;
}

.login--popover {
  display: none;
  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  z-index:99;
  top: calc(100% + 10px);
  left: 0;
  box-shadow: #DDDDDD 0 0 5px 0;
  background: $white;
  width: 280px;
}

.login-arrow--popover {
  position: absolute;
  bottom: 100%;
  left: 20px;
  border-color: transparent;
  border-bottom-color: $white;
  border-width: 10px;
  border-style: solid;
  //content: "";
}

.login--popover * {
  outline: none !important;
}

.login-input--popover {
  position: relative;
  margin-bottom: 10px;
}

.login-input--popover .mdi {
  position: absolute;
  left: 5px;
  top: 7px;
}

.login-input--popover input {
  width: 100%;
  padding: 10px 10px;
  padding-left: 30px;
  border: none;
  border-bottom: 1px solid $gray;
  color: $darkGray;
  transition: all linear .3s;
}

.login-input--popover input:focus {
  border-bottom: 1px solid $primary;
}

.login-btn--popover {
  margin-top: 20px;
}

.login-text--popover {
  font-size: 14px;
  color: $darkGray ;
  padding-top: 15px;
  padding-right: 5px;
}

.login-text--popover a {
  color: $darkGray;
  transition: all linear .1s;
}

.login-text--popover a:hover {
  color: $primary;
}

.signe-up--popover {
  padding-right: 10px;
  color: $secondary !important;
  font-weight: bold;
}

.signe-up--popover:hover {
  color: $primary !important;
}








