.custom-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(24, 39, 56);
	z-index: 99999999;
	display: flex;
	align-items: center;
	justify-content: center;
}
.square-spin > div {
	border-color: white;
}