[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  display: none;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-right: 25px;
  cursor: pointer;
  //line-height: 20px;
  //display: inline-block;
  color: #666;
  margin: 0;
}

[type="radio"]:checked + label span,
[type="radio"]:not(:checked) + label span {
  cursor: pointer;
  color: $secondary;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  right: 0;
  top: 5px;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: $primary;
  position: absolute;
  top: 8px;
  right: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.option__wrapper {
  padding: 0 7px;
}

.search__option {
  padding: 5px 10px;
  //The prime color in rgb and .05 alpha
  //background-color: rgba(254, 91, 87, .05);
  background-color: rgba(0, 0, 0, .03);
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}